
.shop-info-content{
    display: flex;
}


.shop-info-content{
background: white;
border-radius: 5px;
border-radius: 5px;
height: 90px;
}
.shop-title-info{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-align: center;
    padding: 0 5px;
}


.shops-list-container{
    padding: 00px 0px;
    width: 70%;
}



.shop-name{
    padding: 5px 0px;
    border-radius: 3px;
    color: #505050;
    margin-bottom: 5px;
}

.shop-name-title{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}

.shop-title-info{
    font-weight: bold;
    color: gray;
    background: lightgray;
    height: 100%;
}

.shop-content-block{
    height: 100%;
    background: white;
    padding: 20px 30px;
}

.shop-block-border{
    border-left: 1px solid lightgray;
    height: 100%;
    padding: 0 30px;
}

.shop-content-title{
    color: #62D6D8;
    font-weight: bold;
    font-size: 14px;
}


.shop-text-subtitle{
    font-size: 14px;
    color: #505050;
    font-weight: bold;
}

.shop-address{
    width: 350px;
}

.shop-address-street,
.shop-address-country{
    font-size: 10px;
    color: gray;
}

.shop{
    padding: 0 20px;
    color: grey;
    margin-bottom: 10px;
}

.shop-container{
    background: white;
    border-radius: 5px;
    overflow: hidden;
}

.shop-items-content{
    display: flex;
}

.shop-item-active{
    background: lightgray;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.shop-active-text{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-align: center;
    padding: 0 5px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: grey;
}

.shop-item{
    padding: 10px 15px;

}

.shop-item-label{
    color: lightblue;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}

.shop-item-border{
    border-right: 1px solid #eee;
}

.shop-item-text{
    font-size: 12px;
    color: grey; 
}
.shop-item-name{
    width: 50%;
}

.shop-item-price{
    width: 15%;
}

.shop-item-price{
display: flex;
align-items: center;
justify-content: center;
    font-size: 16px;
    font-weight: 900;
    padding: 0 20px;
}

@media(max-width: 480px){

    .shop{
        padding: 0 0;
    }
    .shop-items-content{
        flex-direction: column;
    }
    .shop-active-text{
        -webkit-writing-mode: horizontal-tb;
        writing-mode:horizontal-tb;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        text-align: center;
        padding: 10px 5px;
        text-transform: uppercase;
        color: grey;
    }
    .shop-item-name{
width: 100%;
    }
.shop-item-button a{
    text-align: center;
padding: 10px 10px;
}
}