
.user{
    border-bottom: 1px solid rgba(255,255,255,.1);
    height: 50px;
    overflow: hidden;
    margin-bottom: 20px;
}

.user:last-child{
    margin-bottom: 0;
    border-bottom: 0;
}

.users-title{
    color: white;
    font-size: 20px;
    font-weight: 100;
}

.user-item{
    padding: 0 10px;
    color: white;
    font-weight: 400;
}

.user-name-letter{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #344675;
    background-image: linear-gradient(to bottom left,#344675,#263148,#344675);
    background-size: 210% 210%;
    background-position: 100% 0;
    background-color: #344675;
    transition: all .15s ease;
    box-shadow: none;
    color: #fff;
    font-size: 12px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.userList{
    margin-top: 20px;
    border: 0;
    position: relative;
    width: 100%;
    box-shadow: 0 1px 20px 0 rgba(0,0,0,.1);
    align-items: center;
}

.userList-content{
    padding: 20px;
    margin-top: 20px;
    background: #27293d;
    border: 0;
    position: relative;
    width: 100%;
    box-shadow: 0 1px 20px 0 rgba(0,0,0,.1);
    align-items: center;
    
}



.user-name{
    width: 300px;
}

.user-city{
    width: 200px;
}

.user-menu.user-item svg{
    fill: white;
}

.user-modification{
    padding: 40px 40px;
    color: black;
}

.user-profile{
    border: 1px solid #27293d;
    padding: 40px 10px;
    text-align: center;
    width: 300px;
}

.user-profile-avatar{
    height: 100px;
    margin-bottom: 60px;
}

.user-avatar{
    padding: 5px;
    border: 1px solid red;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: 0 auto;

}

.user-avatar-content{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    background: gray;
    border-radius: 50%;

}

.card{
        background: #27293d;
        border: 0;
        position: relative;
        margin-bottom: 30px;
        box-shadow: 0 1px 20px 0 rgba(0,0,0,.1);
        display: flex;
        min-width: 0;
        word-wrap: break-word;
        background-clip: border-box;
        border: .0625rem solid rgba(34,42,66,.05);
        border-radius: .2857rem;
        color: white;
        padding: 20px;
        
}

.buttons-container{
    padding: 20px 10px;
}

.buttons-container button.user-button-normal{
    background: #e14eca;
    background-image: linear-gradient(to bottom left,#e14eca,#ba54f5,#e14eca);
    background-size: 210% 210%;
    background-position: 100% 0;
    background-color: #e14eca;
    transition: all .15s ease;
    margin-bottom: 20px;
    box-shadow: none;
    color: #fff;
}
.buttons-container .user-button-cancel{
    margin-bottom: 00px;


}


.user-datas{
    width: 100%;
}

.card .card-header {
    padding: 15px 15px 0;
    border: 0;
    color: hsla(0,0%,100%,.8);
    width: 100%;
}


.form-group, .input-group {
    margin-bottom: 10px;
    position: relative;
}

.card label {
    font-size: .75rem;
    margin-bottom: 5px;
}

.card label {
    color: hsla(0,0%,100%,.6);
}

.MuiGrid-item-41 .input-content{
    padding: 0 12px;
    margin-bottom: 20px;

}

.input-content input{
    border-radius: 4px;
    height: calc(2.25rem + 2px);
    border-color: #2b3553;
    border-radius: .4285rem;
    font-size: .75rem;
    transition: color .3s ease-in-out,border-color .3s ease-in-out,background-color .3s ease-in-out;
    padding: 0 10px;
    height: calc(2.25rem + 1px);
    line-height: 1.428571;
    color: hsla(0,0%,100%,.8);
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid #2b3553;
    border-radius: .25rem;
    box-shadow: none;
    transition: all .2s cubic-bezier(.68,-.55,.265,1.55);

}


