
.select-order{
    width: 100%;
height: 100%;
padding-right: 10px;

}


.select-order .select-content{
    background: #DDDEE7;
    border-radius: 5px;
    font-size: 12px;
    padding: 10px 10px;
    color: white;
    border: 0;
    height: 100%;
    width: 100%;
}

.select-order .select-content::before{
    border: 0;
}
.select-order .select-content svg{
    fill: white;
}
