

.input-label{
    position: relative;
    height: 40px;
}


.input-label input{
    border: 0;
    border-bottom: 2px solid #DFE1EA;
    background: transparent;
    font-size: 15px;
    position: relative;
    z-index: 2;
    width: 100%;
}


.input-label  input:focus{
outline: none;
box-shadow: none;
}
.label-input{
    position: absolute;
    top: 12px;
    font-size: 15px;
    transition: .2s linear all;
    z-index: 1;
}

.input-label input:focus + .label-input,
.label-input.static{
    top: -8px;
    font-size: 10px;
}



