.Login{
    height: 100vh;
    background: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Login form{
    padding: 60px 50px;;
    background: white;
    border-radius: 3px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.1);
}

.Login form .Form-container .Form-logo{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
}

.Login .Form .Form-title{
margin-bottom: 30px;
font-size: 20px;
font-weight: bold;
color: lightgray;;
}
.Login .Form .Form-container .Form-inputs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.Login .Form .Form-container .Form-inputs input{
    margin-bottom: 20px;
    height: 30px;
    padding: 10px 10px 0 10px;
    width: 300px;
    border-radius: 2px;
    font-size: 14px;
    color: grey;
    box-shadow: none;
    border: 0px solid transparent;
    background: #F6F6F6;

}

.Login .Form .Form-button-login button{
    width: 200px;
    height: 30px;
    background: #89C3DD;
    border-radius: 20px;
    border-color: #89C3DD;
    color: white;
    font-size: 16px;

}