.shops-container{
    padding: 0 20px;
}

.add-shop{
    position: fixed;
    background: rgba(0,0,0,.8);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.view-shop{
    padding: 0 20px;
}
.add-shop-container{
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 100%;
}

.add-shop-form{
    background: white;
    border-radius: 4px;
    width: 600px;
    color:#505050;
}


.add-shop-form-title{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: grey;
    padding: 15px 20px;
    border-bottom: 1px solid #eee;
    position: relative;
}

#autocomplete{
    position: relative;
}

.input-content-street{
    width: 70%
}
.input-content-street_number{
    width: 30%
}
.input-content-cp{
    width: 50%
}
.input-content-country{
    width: 50%
}
.input-content-state{
    width: 50%
}
.input-content-city{
    width: 50%
}
.input-content-name{
    width: 100%
}

.input-content-phone{
    width: 50%;
}

.input-content-email{
    width: 50%;
}

.add-shop-input-container{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
}


.account-shop{
    padding: 0 10px;
    width: 40%;
}
.account-shop-container{
    padding: 10px;
    border-left: 1px solid lightgray;
}

.account-shop-title{
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: grey;
    position: relative;
}

.btn-submit{
    width: 200px;
    margin: 0 auto;
    margin-bottom: 25px;
}
.add-shop-form-container{
    padding: 0 10px;
    display: flex;
}
.input-content-active{
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
}

.visible-text{
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.shops-filter{
    width: 30%;
}

.shops-wrapper{
    display: flex;
}
.shops-list{
    width: 70%;
    position: relative;
    height: calc(100vh - 170px);
    overflow: scroll;
    padding: 10px 0;
}

@media(max-width: 480px){
    .shops-list {
        height: auto;

    }
    .add-shop-form{
        height: 100%;
        width: 100%;
        border-radius: 0;
        overflow: scroll;

    }
    .add-shop-form-container{
        flex-direction: column;
    }
    .add-shop-input-container,
    .input-content-cp,.input-content-state,
    .input-content-city,.input-content-country,.input-content-phone,.input-content-email
    {
width: 100%;
    }
    .account-shop,
    .account-shop-container{
        margin-top: 20px;
        border: 0;
        width: 100%;
    }
    .account-shop-container{
        margin-top: 20px;
        border: 0;
        width: 100%;
        padding: 0;
    }
    .btn-submit {
        width: 90%;
    }
}