.header-toolbar{
    width: 100%;

}

.header-toolbar-title{
    padding-top: .3125rem;
    padding-bottom: .3125rem;    margin-top: 3px;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
}


.header-toolbar-widgets{
    height: 40px;
}

.header-toolbar-widgets-order{
    height: 70%;
    width: 30%;
    padding: 0 10px 0 0;
}
.header-toolbar-widgets-search{
    width: 40%;
    padding: 0 10px;
    
}

.header-toolbar-left{
    width: 90%;
    height: 100%;
}